@header-height: 80px;
@gray-text: #46525e;
@epic-lettuce: #d4db26;

@font-face {
  font-family: UbuntuLight;
  src: url("../fonts/Ubuntu-Light.ttf") format("opentype");
}

@font-face {
  font-family: ProximaNovaLight;
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
}

.navigation {
  font-family: ProximaNovaLight;
  font-size: 30px;
  color: @gray-text;
}

.title {
  font-family: UbuntuLight;
  font-size: 50pt;
  color: #ffffff;
}

.title-color {
  color: @gray-text !important;
}

.trip {
  font-family: UbuntuLight;
  font-size: 20px;
}

.trip-raid {
  color: @epic-lettuce;
}

.trip-journey {
  color: #94bcae;
}

.trip-expedition {
  color: #7b8994;
}

.subtitle {
  font-family: ProximaNovaLight;
  font-size: 26pt;
  color: #ffffff;
}

.paragraph {
  font-family: ProximaNovaLight;
  font-size: 16.5pt;
  color: #ffffff;
}

.v-header {
  background-color: rgba(0, 0, 0, 0.75);
  left: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  height: @header-height;
  z-index: 1000;
  color: white;

  .v-nav-list {
    list-style: none;

    a {
      text-decoration: none;
      color: white;
    }

    .v-nav-item {
      display: inline-block;
      padding: 1em;
      cursor: pointer;
    }
  }
}

.v-list-item {
  background-color: lightgray;
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: gray;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
}

.main {
  height: 100%;
  overflow: initial !important;

  .section {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    background: no-repeat center;
    background-size: cover;
  }

  .activity-progress {
    position: fixed;
    top: 26%;
    left: 4%;
    width: 25px;
    height: 67px;
    z-index: 100;
  }

  .progress-step-inner {
    background-color: @gray-text;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    position: relative;
    left: 2px;
    top: 2px;
  }

  .progress-step {
    border: 2px solid @gray-text;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 35px 0px;
  }

  .story {
    position: absolute;
    font-size: 1.5em;
  }

  .intro {
    color: black;
    background-color: #ffffff;
  }

  .position-1 {
    left: 10%;
    top: 40%;
  }

  .position-2 {
    left: 50%;
    top: 8%;
  }

  .position-3 {
    left: 12%;
    top: 24%;
  }

  .img-1 {
    background-image: url(../img/1_intro_bg.png);
  }

  .img-2 {
    background-image: url(../img/2_gotlotsogear_bg.png);
  }

  .img-3 {
    background-image: url(../img/3_everforgetsomething_bg.png);
  }

  .img-4 {
    background-image: url(../img/4_morning_run_bg.png);
  }

  .img-5 {
    background-image: url(../img/5_snowboardingdaytrip_bg.png);
  }

  .img-6 {
    background-image: url(../img/6_summitmtrenier_bg.png);
  }

  .img-gear {
    position: relative;
    width: 50%;
    left: 45%;
    top: 23%;
  }

  .description {
    height: 50%;
    background-color: white;
  }

  .description2 {
    background-color: beige
  }
}

input[type="email"] {
  padding: 8px;
  width: 200px;
  font-size: 12px;
  z-index: 100;
  height: 40px;
  border: none;
  vertical-align: middle;
}

input[type="button"] {
  font-size: 12px;
  background-color: @epic-lettuce;
  color: @gray-text;
  border: 0;
  height: 40px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
}

#send {
  position: relative;
  left: -9px;
}

@media screen and (min-width: 768px) {
  .beta {
    margin-left: 50px;
  }
}