@header-height: 5.8em;
@gray-text: #46525e;
@epic-lettuce: #d3db26;
@fjord: #96d3cf;
@expedition: #dedec9;

@gear-title-height: 90px;
@gear-title-max-width: 1200px;

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@font-face {
  font-family: UbuntuLight;
  src: url("../fonts/Ubuntu-Light.ttf") format("opentype");
}

@font-face {
  font-family: ProximaNovaLight;
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
}

body {
  height: auto !important;
}

.section {
  background: no-repeat center;
  height: 100%;
  position: relative;
  //  background-size: contain;
}

.story {
  margin-top: 5em;
}

.activity-progress {
  position: fixed;
  top: 3em;
  left: 1em;
  z-index: 100;
  display: none;
}

.progress-step-inner {
  background-color: @gray-text;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  position: relative;
  left: 2px;
  top: 2px;
}

.progress-step {
  border: 2px solid @gray-text;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: 2.5em 0;
}

.progress-step-inner-white {
  background-color: #ffffff;
}

.progress-step-white {
  border: 2px solid #ffffff;
}

.trip-type-container {
  display: none;
}

.img-1 {
  background-image: url(../img/1_intro_bg_6plus.png);
}

.img-2 {
  background-image: url(../img/2_gotlotsogear_bg_6plus.png);
}

.img-3 {
  background-image: url(../img/3_introducingapp_bg_6plus.png);
}

.img-4 {
  background-image: url(../img/4_mymorningrun_bg_6plus.png);
}

.img-5 {
  background-image: url(../img/5_snowboardingday_bg_6plus.png);
}

.img-6 {
  background-image: url(../img/6_mtexpedition_bg_6plus.png);
}

.img-7 {
  background-image: url(../img/7_profile_bg_6plus.png);
}

.img-8 {
  background-image: url(../img/8_aboutus_bg_6plus.png);
}

.img-gear {
  display: none;
}

.description {
  height: 50%;
  background-color: white;
}

.description2 {
  background-color: beige
}

.navbar {
  z-index: 1000;
  font-family: ProximaNovaLight;
  text-align: right;
  vertical-align: middle;
  background-color: #ffffff;

  a:hover {
    cursor: pointer;
  }
}

.title {
  font-family: UbuntuLight;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  font-family: ProximaNovaLight;
  color: #ffffff;
  font-size: 2em;
}

.title-color {
  color: @gray-text !important;
}

.title-raid {
  color: @epic-lettuce;
}

.title-journey {
  color: @fjord;
}

.trip-raid {
  color: @epic-lettuce;
}

.trip-raid-gear {
  color: @gray-text;
}

.trip-journey {
  color: @fjord;
}

.trip-journey-gear {
  color: #fff;
}

.trip-expedition {
  color: @expedition;
}

.trip-expedition-gear {
  color: @gray-text;
}

.paragraph {
  font-family: ProximaNovaLight;
  font-size: 1.3em;
  color: #ffffff;
}

.logo {
  width: 80px;
  position: relative;
  top: -.5em;
}

.logo-color {
  fill: #7b8994;
}

#email-capture {
  margin-top: 155px;
}

input[type="email"] {
  padding: 8px;
  width: 200px;
  font-size: 16px;
  height: 40px;
  border: none;
  vertical-align: middle;
  color: @gray-text;
}

input[type="button"] {
  font-size: 16px;
  font-weight: bold;
  background-color: @epic-lettuce;
  color: @gray-text;
  border: 0;
  height: 40px;
  width: 60px;
  //  text-align: center;
  vertical-align: middle;
}

.bio {
  display: inline-block;
  margin-right: -4px; // whitespace fix
  margin-top: 100px;
}

.bio-text {
  display: inline-block;
  color: @gray-text;
  position: relative;
}

.headshot {
  background-image: url(../img/viking_sprite1.png);
  width: 153px;
  height: 152px;
  display: inline-block;
  margin-right: 30px;
}

.profile-headshot {
  background-image: url(../img/viking_sprite1.png);
  width: 120px;
  height: 120px;
  margin-bottom: 25px;
  display: none;
}

.rick {
  background-position: -240px 0px;
}

.keith {
  background-position: -240px -151px;
}

.kyle {
  background-position: -240px -302px;
}

.chris {
  background-position: -240px -453px;
}

.hans {
  background-position: -120px -242px;

  &:hover {
    cursor: pointer;
    background-position: 0px -242px;
  }
}

.lisa {
  background-position: -120px -121px;

  &:hover {
    cursor: pointer;
    background-position: 0px -121px;
  }
}

.greg {
  background-position: -120px -363px;

  &:hover {
    cursor: pointer;
    background-position: 0px -363px;
  }
}

.steve {
  background-position: -120px 0px;

  &:hover {
    cursor: pointer;
    background-position: 0px 0px;
  }
}

.gray-hexagon {
  .hexagon-sm(@gray-text);
}

.white-hexagon {
  .hexagon-sm(#fff);
}

.hexagon(@color) {
  border: 2px solid @color;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  //  position: relative;
  //  width: 40px;
  //  height: 23.09px;
  //  background-color: transparent;
  //  margin: 11.55px 0;
  //  border-left: solid 2px @color;
  //  border-right: solid 2px @color;
  //  display: inline-block;
  //  top: 10px;
  //
  //  &:before, &:after {
  //    content: "";
  //    position: absolute;
  //    z-index: 1;
  //    width: 28.28px;
  //    height: 28.28px;
  //    -webkit-transform: scaleY(0.5774) rotate(-45deg);
  //    -ms-transform: scaleY(0.5774) rotate(-45deg);
  //    transform: scaleY(0.5774) rotate(-45deg);
  //    background-color: inherit;
  //    left: 3.8579px;
  //  }
  //
  //  &:before {
  //    top: -14.1421px;
  //    border-top: solid 2.8284px @color;
  //    border-right: solid 2.8284px @color;
  //  }
  //
  //  &:after {
  //    bottom: -14.1421px;
  //    border-bottom: solid 2.8284px @color;
  //    border-left: solid 2.8284px @color;
  //  }
}

.hexagon-sm(@color) {
  border: 2px solid @color;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  //  position: relative;
  //  width: 24px;
  //  height: 13.86px;
  //  background-color: transparent;
  //  margin: 6.93px 0;
  //  border-left: solid 2px @color;
  //  border-right: solid 2px @color;
  //  display: inline-block;
  //
  //  &:before, &:after {
  //    content: "";
  //    position: absolute;
  //    z-index: 1;
  //    width: 16.97px;
  //    height: 16.97px;
  //    -webkit-transform: scaleY(0.5774) rotate(-45deg);
  //    -ms-transform: scaleY(0.5774) rotate(-45deg);
  //    transform: scaleY(0.5774) rotate(-45deg);
  //    background-color: inherit;
  //    left: 1.5147px;
  //  }
  //
  //  &:before {
  //    top: -8.4853px;
  //    border-top: solid 2.8284px @color;
  //    border-right: solid 2.8284px @color;
  //  }
  //
  //  &:after {
  //    bottom: -8.4853px;
  //    border-bottom: solid 2.8284px @color;
  //    border-left: solid 2.8284px @color;
  //  }
}

.social-hexagon {
  text-align: initial;
}

.social-hexagon {
  position: relative;
  width: 54px;
  height: 31.18px;
  background-color: #64C7CC;
  margin: 15.59px 0;
}

.social-hexagon:before,
.social-hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 27px solid transparent;
  border-right: 27px solid transparent;
}

.social-hexagon:before {
  bottom: 100%;
  border-bottom: 15.59px solid #64C7CC;
}

.social-hexagon:after {
  top: 100%;
  width: 0;
  border-top: 15.59px solid #64C7CC;
}

.profile-container {
  font-family: UbuntuLight;
}

.profile-headshots {
  display: inline-block;
}

.profile-description {
  color: white;
  text-align: right;
}

.profile-name {
  color: @epic-lettuce;
}

.profile-activity-container {
  margin-bottom: 20px;
  > div {
    margin-top: 2em;
  }
}

.profile-activity {
  font-size: 1.5em;
  margin-right: 20px;
}

.no-padding-right {
  padding-right: 0px;

  img {
    float: right;
  }

}

.no-padding-left {
  padding-left: 0px;
}

.app-icon-carousel-container {
  display: none;
}

.carousel-control:hover {
  cursor: pointer;
}

.sprite-icon {
  width: 60px;
  height: 53px;
  display: inline-block;
  position: relative;
  top: 15px;
  background-image: url(../img/viking_sprite1.png);
}

.warm-icon {
  background-position: -434px -60px;
  height: 60px;
  width: 60px;
}
.cool-icon {
  background-position: -495px -60px;
  height: 60px;
  width: 60px;
}

.hiking-icon {
  background-position: -544px 0px;
  width: 40px;
  height: 60px;
}

.backpacking-icon {
  background-position: -641px 0px;
  height: 60px;
}
.rafting-icon {
  background-position: -702px 0px;
  width: 96px;
}

.surf-icon {
  background-position: -583px 0px;
  width: 57px;
}

.beard-raid {
  background-position: -434px -120px;
}

.beard-journey {
  background-position: -493px -120px;
}

.beard-expedition {
  background-position: -552px -120px;
}

@media (min-width: @screen-sm-min) {
  #email-capture {
    margin-top: initial;
  }

  #email {
    width: 430px;
    height: 75px;
    font-size: inherit;
  }

  #send {
    width: 116px;
    height: 75px;
    font-size: inherit;
  }

  .raid-gear {
    height: @gear-title-height;
    max-width: @gear-title-max-width;
    background: url(../img/viking_sprite1.png) 0px -1358px;
  }

  .journey-gear {
    height: @gear-title-height;
    max-width: @gear-title-max-width;
    background: url(../img/viking_sprite1.png) 0px -1448px;
  }

  .expedition-gear {
    height: @gear-title-height;
    max-width: @gear-title-max-width;
    background: url(../img/viking_sprite1.png) 0px -1538px;
  }
}

@media (min-width: @screen-lg-min) {
  .logo {
    width: 153px;
    margin-left: 2em;
  }

  .raid-hexagon {
    .hexagon(@epic-lettuce);
  }

  .journey-hexagon {
    .hexagon(@fjord);
  }

  .expedition-hexagon {
    .hexagon(@expedition);
  }

  .gray-hexagon {
    .hexagon(@gray-text);
  }

  .white-hexagon {
    .hexagon(#fff);
  }

  .img-gear {
    display: block;
    position: relative;
  }

  .navbar {
    height: @header-height;
    opacity: .85;

    ul {
      position: relative;
      top: .6em;
      margin-left: 2em;
      font-size: 1.5em;
    }
  }

  .profile-container {
    margin-top: 50px;
  }

  .profile-headshot {
    display: block;
  }

  .profile-description {
    position: relative;
    left: 80px;
  }

  .img-1 {
    background-image: url(../img/1_intro_bg.png);
  }

  .img-2 {
    background-image: url(../img/3_everforgetsomething_bg.png);
  }

  .img-3 {
    background-image: url(../img/2_gotlotsogear_bg.png);
  }

  .img-4 {
    background-image: url(../img/4_morning_run_bg.png);
  }

  .img-5 {
    background-image: url(../img/5_snowboardingdaytrip_bg.png);
  }

  .img-6 {
    background-image: url(../img/6_summitmtrenier_bg.png);
  }

  .img-7 {
    background-image: url(../img/vikingprofile_bg.png);
  }

  .img-8 {
    background-image: url(../img/team_bg_image.png);
  }

  .story-intro {
    top: 375px;
  }

  .story-pitch {
    top: 400px;

    > p {
      max-width: 75%;
    }
  }

  .story-app {
    top: 300px;

    > p {
      max-width: 75%;
    }
  }

  .story-trip {
    top: 75px;
  }

  .story-team, .story-profiles {
    top: 100px;
  }

  .trip-type-container {
    display: block;
    margin-top: 3em;

    font-family: UbuntuLight;
    font-size: 1.7em;

    .trip-type {
      display: inline-block;
      max-width: 28%;
      margin: 0 2em 0 .3em;

      .raid-hexagon {
        top: 6px;
      }

      .journey-hexagon {
        top: 6px;
      }

      .expedition-hexagon {
        top: 6px;
      }
    }

    p {
      font-family: ProximaNovaLight;
      font-size: .7em;
      margin-top: 10px;
    }
  }

  .bio {
    width: 50%;
    font-size: 1em;
  }

  .bio-text {
    max-width: 50%;
  }

  .navbar {
    height: @header-height;
    opacity: .85;

    ul {
      font-size: 1.7em;
    }
  }

  .title {
    font-size: 3em;
    text-align: inherit;
  }

  .title-trip {
    margin-bottom: 20px;
  }

  .app-icon-carousel-container {
    display: block;
    position: relative;
    top: 12em;
    right: 5em;
  }
}

// moving this up in the file breaks everything..... ummmmmm
.segment {
  position: relative;
  vertical-align: middle;
  background-size: cover;
  min-height: 568px;
}

.segment-navigation {
  display: none;
}