<div class="container-fluid">

    <header class="navigation">
        <ul>
            <li><a href="#section-story" data-menu-top="250p">Story</a></li>
            <li><a href="#section-app" data-menu-top="730p">App</a></li>
            <li><a>Profiles</a></li>
            <li><a>News</a></li>
            <li><a>Team</a></li>
        </ul>
        <div class="social-icons">
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-instagram"></i></a>
        </div>
    </header>

    <!--Scrolling goes up in increments of 225 with buffer of 25-->
    <div class="section img-1"
         data-0p="transform:translate(0,0%)">
        <!--data-250p="transform:translate(0,-100%)" This makes first image scroll up as subsequent ones scroll up, but leaves background exposed-->
        <div class="story position-1">
            <h1 class="title">Going Somewhere Fun?</h1>

            <div class="subtitle">
                <p>Fortify your adventures</p>
                <input type="email" id="email" placeholder="Email me when it's ready"/>
                <input type="button" id="send" value="SEND"/>
            </div>
        </div>
    </div>

    <div class="activity-progress"
         data-200p="opacity:0"
         data-230p="opacity:1">

        <div class="progress-step progress-step-white">
            <div class="progress-step-inner progress-step-inner-white"
                 data-210p="opacity:0"
                 data-230p="opacity:1"
                 data-460p="opacity:0"></div>
        </div>

        <div class="progress-step  progress-step-white">
            <div class="progress-step-inner progress-step-inner-white"
                 data-460p="opacity:0"
                 data-480p="opacity:1"
                 data-710p="opacity:0"></div>
        </div>
    </div>

    <div id="section-story"
         class="section img-2"
         data-25p="transform:translate(0,100%)"
         data-250p="transform:translate(0,0%)">
        <div class="story position-3">
            <h1 class="title">Got Lots of Gear?</h1>

            <p class="paragraph">Outdoor activities like cycling, kayaking or hiking need<br>a lot of gear to make the strip safe and memorable. We<br>make packing smarter so you can play harder.</p>
        </div>
    </div>

    <div class="section img-3"
         data-255p="transform:translate(-100%,0%)"
         data-480p="transform:translate(0,0%)">
        <div class="story position-4">
            <h1 class="title">Ever Forget Something?</h1>

            <p class="paragraph">Unfortunately, remembering what you need is a lot more difficult<br>than you think. One missing item can ruin an entire adventure.</p>
        </div>
    </div>

    <div class="activity-progress"
         data-710p="opacity:0"
         data-730p="opacity:1">

        <div class="progress-step">
            <div class="progress-step-inner"
                 data-710p="opacity:0"
                 data-730p="opacity:1"
                 data-960p="opacity:0"></div>
        </div>

        <div class="progress-step">
            <div class="progress-step-inner"
                 data-960p="opacity:0"
                 data-980p="opacity:1"
                 data-1210p="opacity:0"></div>
        </div>

        <div class="progress-step">
            <div class="progress-step-inner"
                 data-1210p="opacity:0"
                 data-1230p="opacity:1"
                 data-1460p="opacity:0"></div>
        </div>

        <div class="progress-step">
            <div class="progress-step-inner"
                 data-1460p="opacity:0"
                 data-1480p="opacity:1"></div>
        </div>

    </div>

    <div id="section-app"
         class="section intro"
         data-505p="transform:translate(0,100%)"
         data-730p="transform:translate(0,0%)">
        <div class="story position-3"
             data-600p="opacity:0"
             data-700p="opacity:1"
             data-950p="opacity:0">
            <h1 class="title title-color">Introducing Viking App</h1>

            <p class="paragraph title-color">We have figured out a way to solve your packing problems for good. We curate<br>and provide your packing list for you based on where you are going and what
                you<br>are doing.
                To make it easier for you we break down everything you do into three<br>types of trips/activities for you based on type of activity, temperature, and duration.<br>
                RAIDS, JOURNEYS AND EXPEDITIONS.
            </p>

            <div class="trip-type-container">
                <div class="trip-type">
                    <div class="raid-hexagon"></div>
                    <span class="trip-type trip-raid">RAID</span>

                    <p class="title-color">Short regular daily activities such<br/>as hittign the Gym, morning surf<br/>session, and your morning run.</p>
                </div>
                <div class="trip-type">
                    <div class="journey-hexagon"></div>
                    <span class="trip-type trip-journey">JOURNEY</span>

                    <p class="title-color">Any day trips that don't require<br/>an overnight stay such as a hike,<br/>snowboarding, or kayaking.</p>
                </div>
                <div class="trip-type">
                    <div class="expedition-hexagon"></div>
                    <span class="trip-expedition">EXPEDITION</span>

                    <p class="title-color">Longer overnight style trips<br/>such as backpacking, climbing,<br/>ski destination getaways, etc.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section img-4"
         data-0p="transform:translate(0,100%)"
         data-250p="transform:translate(0,0%)"
         data-900p="opacity:0"
         data-1000p="opacity:1"
         data-1200p="opacity:0">
        <div class="story position-2">
            <h1 class="title title-color">My Morning Run</h1>
        </div>

        <img src="../img/raid_gear_layout_clrscrn.png" class="img-gear img-responsive">
    </div>

    <div class="section img-5"
         data-0p="transform:translate(0,100%)"
         data-250p="transform:translate(0,0%)"
         data-1200p="opacity:0"
         data-1300p="opacity:1"
         data-1500p="opacity:0">
        <div class="story position-2">
            <h1 class="title title-color">Snowboarding Day Trip</h1>
        </div>

        <img src="../img/journey_gear_layout_clrscrn.png" class="img-gear img-responsive">
    </div>

    <div class="section img-6"
         data-0p="transform:translate(0,100%)"
         data-250p="transform:translate(0,0%)"
         data-1500p="opacity:0"
         data-1600p="opacity:1">
        <div class="story position-2">
            <h1 class="title title-color">Summit Mt. Renier</h1>
        </div>

        <img src="../img/journey_gear_layout_clrscrn.png" class="img-gear img-responsive">
    </div>
</div>