<div class="img img-1"
     data-0p="transform:translate(0,0%)"
     data-250p="transform:translate(0,-100%)">
    <div data-50p="opacity:1" data-70p="opacity:0" style="color: white">STORY 1 STORY 1 STORY 1 STORY 1 STORY 1 STORY 1</div>
    <div style="color: white">LOGO</div>
</div>

<div class="img description"
     data-0p="transform:translate(0,200%)"
     data-150p="transform:translate(0,-100%)">
    <div data-30p="opacity:0"
         data-50p="opacity:1"
         data-110p="opacity:1"
         data-120p="opacity:0">
        <p>STORY 2 STORY 2 STORY 2 STORY 2 STORY 2 STORY 2 STORY 2 STORY 2 <br>STORY 2 STORY 2 STORY 2 STORY 2 STORY 2 STORY 2 STORY 2 STORY 2 STORY 2 </p>
    </div>
</div>

<div class="img description2"
     data-50p="transform:translate(0,100%)"
     data-250p="transform:translate(0,-100%)">
    <div>
        <div data-80p="opacity:0" data-100p="opacity:1">
            <p>STORY 3 STORY 3 STORY 3 STORY 3 STORY 3 STORY 3 STORY 3 STORY 3 <br>STORY 3 STORY 3 STORY 3 STORY 3 STORY 3 STORY 3 STORY 3 STORY 3 STORY 3 </p>
        </div>
    </div>
</div>

<div data-0p="transform:translate(0,100%)"
     data-149p="transform:translate(0,100%)"
     data-150p="transform:translate(0,20%)"
     data-250p="transform:translate(0,0%)"
     data-350p="transform:translate(0,-20%)"
     class="img img-2">
</div>

<div data-250p="transform:translate(0,100%)"
     data-350p="transform:translate(0,0%)"
     data-450p="transform:translate(0,-20%)"
     class="img img-3">
</div>

<div data-350p="transform:translate(0,100%)"
     data-450p="transform:translate(0,0%)"
     class="img img-4">
</div>