<div class="img-holder" data-image="img/autumn_season-1600x900.jpg" data-width="1600" data-height="900" data-extra-height="50"></div>

<section id="intro">
    <p>Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro
        Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro
        Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro Intro </p>
</section>

<div class="img-holder" data-image="img/japan_digital_nature-1680x1050.jpg" data-cover-ratio="0.75" data-width="1680" data-height="1050"></div>

<section id="story">
    <p>Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story
        Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story
        Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story Story </p>
</section>

<div class="img-holder" data-image="img/german_landscapes-1600x900.jpg"></div>

<section id="app">
    <p>App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App
        App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App
        App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App App </p>
</section>

<div class="img-holder" data-image="img/autumn_season-1600x900.jpg" data-width="1600" data-height="900" data-extra-height="50"></div>

<section id="team">
    <p>Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team
        Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team
        Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team Team </p>
</section>